@import '../../styles/common';
$control-size: rem(16px);

.Checkbox {
  position: relative;
  margin: var(--p-choice-margin, 0);
}

.Input {
  @include visually-hidden;
}
// stylelint-disable selector-max-specificity, selector-max-class, selector-max-combinators, max-nesting-depth
.Checkbox:not(.globalTheming) {
  .Input {
    &:focus,
    &:active,
    &:checked,
    &.Input-indeterminate {
      + .Backdrop {
        background: color('indigo');
        &::after {
          background: color('white');
        }
      }
    }
    &:checked,
    &.Input-indeterminate {
      ~ .Icon {
        transform: translate(-50%, -50%) scale(1);
      }
    }

    &:focus,
    &:active {
      + .Backdrop {
        @include control-backdrop(focused);
      }
    }
    &:disabled {
      + .Backdrop {
        @include control-backdrop(disabled);
      }
      ~ .Icon {
        @include recolor-icon(color('ink', 'lightest'));
      }
    }
  }

  .Backdrop {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    @include control-backdrop;
  }

  .Icon {
    transition: control-icon-transition();
    transform: translate(-50%, -50%) scale(0);
  }
}

.Checkbox.globalTheming {
  .Input {
    &.keyFocused {
      + .Backdrop {
        @include focus-ring($style: 'focused');
      }
    }

    &:active:not(:disabled),
    &:checked,
    &.Input-indeterminate {
      + .Backdrop {
        border-color: var(--p-action-interactive);
        &::before {
          opacity: 1;
          transform: scale(1);
        }
      }
      ~ .Icon {
        transition-timing-function: var(--p-ease-in);
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
        transition: opacity var(--p-duration-1-5-0) var(--p-ease),
          transform var(--p-duration-1-5-0) var(--p-ease);
      }
    }

    &:disabled {
      + .Backdrop {
        border-color: var(--p-border-secondary-disabled);

        &::before {
          background-color: var(--p-action-secondary-disabled);
        }

        &:hover {
          cursor: default;
        }
      }
    }

    &:disabled:checked {
      + .Backdrop {
        background: var(--p-border-secondary-disabled);
        &::before {
          background: var(--p-border-secondary-disabled);
        }
      }
    }
  }

  .Backdrop {
    position: relative;
    border: var(--p-control-border-width) solid var(--p-border-secondary);
    background-color: var(--p-surface);
    border-radius: var(--p-border-radius-base);
    display: block;
    width: 100%;
    height: 100%;

    &::before {
      content: '';
      position: absolute;
      top: calc(-1 * var(--p-control-border-width));
      right: calc(-1 * var(--p-control-border-width));
      bottom: calc(-1 * var(--p-control-border-width));
      left: calc(-1 * var(--p-control-border-width));
      border-radius: var(--p-border-radius-base);
      background-color: var(--p-action-interactive);
      opacity: 0;
      transform: scale(0.25);
      transition: opacity var(--p-duration-1-0-0) var(--p-ease),
        transform var(--p-duration-1-0-0) var(--p-ease);
    }

    &.hover,
    &:hover {
      cursor: pointer;
      border-color: var(--p-border-secondary-hovered);
    }

    @include focus-ring($border-width: var(--p-control-border-width));
  }

  .Icon {
    transform: translate(-50%, -50%) scale(0.25);
    opacity: 0;
    transition: opacity var(--p-duration-1-0-0) var(--p-ease),
      transform var(--p-duration-1-0-0) var(--p-ease);
  }
}

.Icon {
  @include recolor-icon(var(--p-icon-on-interactive, color('indigo')));
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 50% 50%;
  pointer-events: none;

  @media (-ms-high-contrast: active) {
    fill: ms-high-contrast-color('text');
  }
}

.error:not(.globalTheming) {
  // The basic checked styles have more specificity than this, so need to
  // basically duplicate that selector here, too.
  .Input:checked + .Backdrop,
  .Input.Input-indeterminate + .Backdrop,
  .Backdrop {
    @include control-backdrop(error);
  }

  // We need to know if the input is focusing to change the border color.
  .Input:focus + .Backdrop,
  .Input:active + .Backdrop {
    @include control-backdrop(focused-error);
  }
}

.error.globalTheming {
  .Backdrop {
    border-color: var(--p-border-critical);
    background-color: var(--p-surface-critical);

    &.hover,
    &:hover {
      border-color: var(--p-border-critical);
    }

    &::before {
      background-color: var(--p-border-critical);
    }
  }
  .Input:checked,
  .Input:active,
  .Input.Input-indeterminate {
    + .Backdrop::before {
      background-color: var(--p-border-critical);
    }
  }
}

.error {
  .Icon {
    @include recolor-icon(var(--p-icon-on-critical, color('red', 'dark')));
  }
}
// stylelint-enable selector-max-specificity, selector-max-class,  selector-max-combinators, max-nesting-depth
